<div *ngIf="data">
  <h2>Detail</h2>
  <table class="table width-50-p">
    <tr>
      <th>
        Person:
      </th>
      <td>
        {{data.person}}
      </td>
    </tr>
    <tr>
      <th>
        Tel:
      </th>
      <td>
        {{data.tel}}
      </td>
    </tr>
    <tr>
      <th>
        Home:
      </th>
      <td>
        {{data.address}}
      </td>
    </tr>
    <tr>
      <th>
        Office:
      </th>
      <td>
        {{data.office}}
      </td>
    </tr>
    <tr>
      <th>
        Task:
      </th>
      <td>
        {{data.task}}
      </td>
    </tr>
    <tr>
      <th>
        Date:
      </th>
      <td>
        {{data.date}}
      </td>
    </tr>
  </table>
</div>


